<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>E-Commerce</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakeOrderServlet</display-name>
    <servlet-name>MakeOrderServlet</servlet-name>
    <servlet-class>servlets.MakeOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeOrderServlet</servlet-name>
    <url-pattern>/MakeOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>servlets.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAllOrders</display-name>
    <servlet-name>ListAllOrders</servlet-name>
    <servlet-class>servlets.ListAllOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllOrders</servlet-name>
    <url-pattern>/ListAllOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrder</display-name>
    <servlet-name>CancelOrder</servlet-name>
    <servlet-class>servlets.CancelOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrder</servlet-name>
    <url-pattern>/CancelOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListingCarts</display-name>
    <servlet-name>ListingCarts</servlet-name>
    <servlet-class>servlets.ListingCarts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListingCarts</servlet-name>
    <url-pattern>/ListingCarts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCart</display-name>
    <servlet-name>RemoveCart</servlet-name>
    <servlet-class>servlets.RemoveCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCart</servlet-name>
    <url-pattern>/RemoveCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartBuyNow</display-name>
    <servlet-name>CartBuyNow</servlet-name>
    <servlet-class>servlets.CartBuyNow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartBuyNow</servlet-name>
    <url-pattern>/CartBuyNow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HoldIncDec</display-name>
    <servlet-name>HoldIncDec</servlet-name>
    <servlet-class>servlets.HoldIncDec</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HoldIncDec</servlet-name>
    <url-pattern>/HoldIncDec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckAll</display-name>
    <servlet-name>CheckAll</servlet-name>
    <servlet-class>servlets.CheckAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAll</servlet-name>
    <url-pattern>/CheckAll</url-pattern>
  </servlet-mapping>
</web-app>